In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('12cdenhanced.csv', low_memory=False)

In [3]:
df.head()

,LALVOTERID,Voters_StateVoterID,Voters_CountyVoterID,Walking_List_Sequence,HH Code,VoterTelephones_FullPhone,VoterTelephones_TelConfidenceCode,VoterTelephones_TelCellFlag,Voters_FirstName,Voters_MiddleName,...,CommercialDataLL_Pro_Life,CommercialDataLL_Pro_Choice,BLDG,JCRC,Private_Data Standard Land Line,Private_Data Mobile Phone,School_Board_District,primeny_marriagelicenseinny_Marriage_License_in_NY,primeny_samesexmarriagefemale_Same_Sex_Marriage_Female,primeny_samesexmarriagemale_Same_Sex_Marriage_Male
0,LALNY102538620,NY000000000054552909,61411687430,5723790,M023917642,NaN,NaN,NaN,Erica,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LALNY108327057,NY000000000040162321,81412200829,8388827,M020126904,NaN,NaN,NaN,Edwin,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LALNY110437157,NY000000000035913621,81305106470,8391318,M012625710,(917) 769-9874,1.0,Y,Abu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LALNY485550491,NY000000000055303061,81412257066,8385063,M022969310,NaN,NaN,NaN,Matthew,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LALNY540105438,NY000000000056813181,81413046512,8385064,M022969310,NaN,NaN,NaN,Samantha,Jo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
LatestPrimary = 'Primary_2018-06-26'
PastPrimaries = ['Primary_2016-06-28', 'Primary_2010-09-14']

In [50]:
def label_newVoter(row):
    if row[LatestPrimary] == 'Y' and row[PastPrimaries[0]]!='Y' and row[PastPrimaries[1]]!='Y':
        return 'NewVoter'
    else:
        return 'NotNewVoter'

In [51]:
df['NewToLastPrimary'] = df.apply(lambda row: label_newVoter(row), axis=1)

In [52]:
df[['Primary_2018-06-26', 'Primary_2016-06-28', 'Primary_2010-09-14', 'NewToLastPrimary']]

,Primary_2018-06-26,Primary_2016-06-28,Primary_2010-09-14,NewToLastPrimary
0,Y,NaN,NaN,NewVoter
1,NaN,NaN,Y,NotNewVoter
2,Y,NaN,Y,NotNewVoter
3,Y,NaN,NaN,NewVoter
4,Y,NaN,NaN,NewVoter
5,Y,NaN,Y,NotNewVoter
6,Y,Y,Y,NotNewVoter
7,Y,NaN,Y,NotNewVoter
8,Y,NaN,NaN,NewVoter
9,NaN,NaN,Y,NotNewVoter
10,Y,NaN,NaN,NewVoter
11,Y,NaN,Y,NotNewVoter
12,NaN,Y,NaN,NotNewVoter
13,Y,NaN,NaN,NewVoter
14,NaN,NaN,Y,NotNewVoter
15,NaN,NaN,Y,NotNewVoter
16,Y,Y,Y,NotNewVoter
17,NaN,NaN,Y,NotNewVoter
18,Y,NaN,NaN,NewVoter
19,NaN,NaN,Y,NotNewVoter
20,NaN,NaN,Y,NotNewVoter
21,NaN,Y,NaN,NotNewVoter
22,Y,NaN,NaN,NewVoter
23,Y,NaN,Y,NotNewVoter
24,Y,NaN,NaN,NewVoter
25,Y,NaN,Y,NotNewVoter
26,NaN,NaN,Y,NotNewVoter
27,Y,NaN,Y,NotNewVoter
28,Y,NaN,NaN,NewVoter
29,NaN,NaN,Y,NotNewVoter
...,...,...,...,...
62332,NaN,NaN,Y,NotNewVoter
62333,Y,NaN,NaN,NewVoter
62334,NaN,NaN,Y,NotNewVoter
62335,Y,NaN,NaN,NewVoter
62336,Y,NaN,NaN,NewVoter
62337,Y,NaN,Y,NotNewVoter
62338,Y,NaN,NaN,NewVoter
62339,Y,NaN,NaN,NewVoter
62340,NaN,Y,NaN,NotNewVoter
62341,Y,NaN,NaN,NewVoter
62342,Y,NaN,NaN,NewVoter
62343,Y,NaN,NaN,NewVoter
62344,Y,NaN,NaN,NewVoter
62345,Y,Y,Y,NotNewVoter
62346,Y,NaN,NaN,NewVoter
62347,Y,Y,NaN,NotNewVoter
62348,Y,NaN,NaN,NewVoter
62349,Y,Y,NaN,NotNewVoter
62350,Y,NaN,NaN,NewVoter
62351,NaN,NaN,Y,NotNewVoter
62352,NaN,NaN,Y,NotNewVoter
62353,Y,NaN,NaN,NewVoter
62354,Y,Y,Y,NotNewVoter
62355,Y,NaN,NaN,NewVoter
62356,NaN,NaN,Y,NotNewVoter
62357,NaN,Y,Y,NotNewVoter
62358,Y,NaN,NaN,NewVoter
62359,NaN,NaN,Y,NotNewVoter
62360,Y,Y,Y,NotNewVoter
62361,Y,NaN,NaN,NewVoter

In [59]:
new_voter_df = df[df['NewToLastPrimary']=='NewVoter']
not_new_voter_df = df[df['NewToLastPrimary']=='NotNewVoter']

In [87]:
len(new_voter_df[new_voter_df['Voters_Gender']=="M"]) / (len(new_voter_df[new_voter_df['Voters_Gender']=="F"]) + len(new_voter_df[new_voter_df['Voters_Gender']=="M"]))

0.42022011131104325

In [89]:
len(not_new_voter_df[not_new_voter_df['Voters_Gender']=="M"]) / (len(not_new_voter_df[not_new_voter_df['Voters_Gender']=="F"]) + len(not_new_voter_df[not_new_voter_df['Voters_Gender']=="M"]))

0.4058705769180771

In [97]:
new_voter_df.Voters_Age.mean()

46.88476349937212

In [98]:
not_new_voter_df.Voters_Age.mean()

66.24742751452314

In [101]:
len(new_voter_df) / (len(not_new_voter_df)+len(new_voter_df))

0.38323017222026234

In [104]:
df['Precinct']

0        68 MANHATTAN 008/68
1           36 QUEENS 008/36
2           36 QUEENS 011/36
3           36 QUEENS 004/36
4           36 QUEENS 004/36
5           36 QUEENS 006/36
6           36 QUEENS 013/36
7           36 QUEENS 045/36
8           36 QUEENS 045/36
9           36 QUEENS 066/36
10          36 QUEENS 073/36
11          36 QUEENS 073/36
12          36 QUEENS 076/36
13          36 QUEENS 077/36
14          36 QUEENS 077/36
15          37 QUEENS 008/37
16          37 QUEENS 012/37
17          36 QUEENS 006/36
18          36 QUEENS 006/36
19          36 QUEENS 006/36
20          36 QUEENS 052/36
21          30 QUEENS 056/30
22          30 QUEENS 056/30
23          30 QUEENS 056/30
24          30 QUEENS 056/30
25          30 QUEENS 056/30
26          30 QUEENS 056/30
27          30 QUEENS 056/30
28          30 QUEENS 056/30
29          30 QUEENS 056/30
                ...
62332    73 MANHATTAN 069/73
62333     50 BROOKLYN 006/50
62334     50 BROOKLYN 043/50
62335    66 MANHATTAN 055/66
62336       36 QUEENS 064/36
62337       36 QUEENS 064/36
62338    73 MANHATTAN 049/73
62339    74 MANHATTAN 083/74
62340    75 MANHATTAN 019/75
62341    76 MANHATTAN 064/76
62342    74 MANHATTAN 021/74
62343       37 QUEENS 078/37
62344    76 MANHATTAN 035/76
62345    76 MANHATTAN 087/76
62346     50 BROOKLYN 005/50
62347    73 MANHATTAN 076/73
62348    74 MANHATTAN 107/74
62349    76 MANHATTAN 083/76
62350    65 MANHATTAN 052/65
62351    73 MANHATTAN 010/73
62352    73 MANHATTAN 013/73
62353    74 MANHATTAN 036/74
62354    68 MANHATTAN 003/68
62355    66 MANHATTAN 030/66
62356    68 MANHATTAN 014/68
62357    76 MANHATTAN 064/76
62358    74 MANHATTAN 059/74
62359    75 MANHATTAN 030/75
62360    76 MANHATTAN 084/76
62361    76 MANHATTAN 007/76
Name: Precinct, Length: 62362, dtype: object